<tr>
  <td><%= link_to "1", connect4_path(1), method:"patch" %></td>
  <td><%= link_to "2", connect4_path(2), method:"patch" %></td>
  <td><%= link_to "3", connect4_path(3), method:"patch" %></td>
  <td><%= link_to "4", connect4_path(4), method:"patch" %></td>
  <td><%= link_to "5", connect4_path(5), method:"patch" %></td>
  <td><%= link_to "6", connect4_path(6), method:"patch" %></td>
  <td><%= link_to "7", connect4_path(7), method:"patch" %></td>
</tr>
